name: testing for deploy

on:
  push:
    branches:
      - kubernetes-testing
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    env: 
      MYSQL_DATABASE: ${{ secrets.MYSQL_DATABASE }}
      MYSQL_USER: ${{ secrets.MYSQL_USER }}
      MYSQL_PASSWORD: ${{ secrets.MYSQL_PASSWORD }}
      MYSQL_ROOT_PASSWORD: ${{ secrets.MYSQL_ROOT_PASSWORD }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Copy .env file
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"
      - name: Setup variable
        run: |
          cat > .env <<EOF
          APP_ENV=testing
          APP_KEY=
          lOG_CHANNEL=stderr
          LOG_LEVEL=info
          DB_CONNECTION=mysql
          DB_HOST=db
          DB_PORT=3306
          DB_DATABASE=${MYSQL_DATABASE}
          DB_USERNAME=${MYSQL_USER}
          DB_PASSWORD=${MYSQL_PASSWORD}
          MAIL_MAILER=smtp
          MAIL_HOST=sandbox.smtp.mailtrap.io
          MAIL_PORT=2525
          MAIL_USERNAME=9f19cb8e2f5abf
          MAIL_PASSWORD=c68e1c3a23a6d8
          MAIL_ENCRYPTION=null
          MAIL_FROM_ADDRESS="librarika@example.com"
          MAIL_FROM_NAME="${APP_NAME}"
          EOF
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
      - name: Setup MYSQL
        uses: samin/mysql-action@v1.3
        with:
          mysql version: 8.4
          MYSQL_ROOT_PASSWORD: ${{ env.MYSQL_ROOT_PASSWORD }}
          MYSQL_DATABASE: ${{ env.MYSQL_DATABASE }}
          MYSQL_USER: ${{ env.MYSQL_USER }}
          MYSQL+PASSWORD: ${{ env.MYSQL_PASSWORD }}
      - name: Install laravel dependencies
        run: composer install --no-dev --prefer-dist --o --no-progress --no-interaction
      - name: Generate key
        run: php artisan key:generate
      - name: Set laravel file permission
        run: chmod -R 775 storage bootstrap/cache
      - name: run database migration
        run: php artisan migrate
      - name: Runt test case
        run: php artisan test
