name: testing for deploy

on:
  push:
    branches:
      - master
      # ToDo balik ke main dan ubah ke push ke docker hub 
      # target paths ke laravel adan vite main program (app,resource,public/build, test)
      # Opsional buat base untuk run test case di dockerfile
    paths:
      - Dockerfile
      - app/**
      - resources/**
      - public/build/**
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    env: 
      REGISTRY: ghcr.io
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: cli
            img: librarika_cli
          - target: fpm_server
            img: librarika_fpm
          - target: web_server
            img: librarika_nginx
          - target: cron
            img: librarika_cron
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login GitHub container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Set up meta data
        uses: docker/metadata-action@v5
        id: meta
        with:
          images: ${{ env.REGISTRY }}/${{ matrix.img }}
      - name: Sanitize username
        uses: actions/github-script@v6
        id: lower_username
        with:
          result-encoding: string
          script: return '${{ github.repository_owner }}'.toLowerCase()
      - name: Build and push ${{ matrix.target }}
        uses: docker/build-push-action@v6
        with:
          context: .
          target: ${{ matrix.target }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
