name: testing for deploy

on:
  push:
    branches:
      - master
      # ToDo balik ke main dan ubah ke push ke docker hub 
      # target paths ke laravel adan vite main program (app,resource,public/build, test)
      # Opsional buat base untuk run test case di dockerfile
    paths:
      - Dockerfile
      - app/**
      - resources/**
      - public/build/**
  pull_request:
    branches:
      - master
    # ToDo hapus baris 18 dan 19 setelah testing
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    env: 
      REGISTRY: ghcr.io
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: cli
            img: librarika_cli
          - target: fpm_server
            img: librarika_fpm
          - target: web_server
            img: librarika_nginx
          - target: cron
            img: librarika_cron
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login GitHub container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push ${{ matrix.target }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          target: ${{ matrix.target }}
          push: true
          platforms: linux/amd64
          tags: ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ matrix.img }}:latest
